<h1>
	<%= @contact.first_name %> <%= @contact.last_name %>
</h1>

<%= link_to("Back To Home", contacts_path) %> | <%= link_to("Edit", edit_contact_path) %> | <%= link_to("Delete", @contact, method: :delete, data: {confirm: "Are you sure you want to delete #{@contact.first_name} #{@contact.last_name}?"}) %>
<br><br>
<%= image_tag(@contact.picture_url) %>
<br><br>
<address>
	<%= @contact.address %>
</address>
<br>
Phone <%= link_to(@contact.phone, "tel:#{@contact.phone}") %>
<br><br>
Email <%= link_to(@contact.email, "tel:#{@contact.email}") %>
<br><br>
Age: <%= @contact.age %>
<br><br>
Birthday: <%= @contact.birthday %>